.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;

  h1,
  h2 {
    padding: 0 0 0.5rem 0;
  }

  section {
    margin: 1rem 0;

    .tech-icon {
      width: 30px;
      height: 30px;
    }
  }

  section:first-child {
    max-width: 1000px;
  }

  section:nth-child(2) {
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        flex: 0 0 33.333333%;

        p {
          font-size: clamp(0.625rem, 0.4545rem + 0.9091vw, 1.25rem);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .about-wrapper {
    margin: auto;
    margin-top: 50px;

    section {
      .tech-icon {
        width: 35px;
        height: 35px;
      }
    }
  }
}
