@import '../style/variables.scss';

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  h1 {
    font-family: 'Modak', system-ui;
    font-size: clamp(1.5rem, 0.8182rem + 3.6364vw, 4rem);

    span {
      font-size: clamp(5.4rem, 4.1455rem + 6.6909vw, 10rem);
    }
  }

  .rain-cloud {
    margin-left: 80px;
    margin-top: -100px;
    margin-bottom: 25px;
    z-index: -1;
  }

  .running-boy {
    margin-right: 25px;
  }

  form {
    width: 70%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    label {
      font-size: clamp(0.625rem, 0.4545rem + 0.9091vw, 1.25rem);
      margin-bottom: 0.2em;
      margin-top: 0.5em;
    }

    input {
      padding: 12px;
      background-color: $almost-white;
      border: none;
      border-radius: 5px;

      &:focus {
        border: 1px solid $navy;
        outline: none;
      }

      &.input-error,
      &.input-error {
        border: 1px solid $error;
      }
    }

    button {
      margin: 10px 65px;
    }
  }
}

@media screen and (min-width: 768px) {
  .home-wrapper {
    width: 70%;
    margin: auto;

    .rain-cloud {
      margin-left: 80px;
      margin-top: -160px;
      margin-bottom: 25px;
      z-index: -1;
    }

    form > button {
      margin: 10px 100px;
    }
  }
}
