@import '../style/variables.scss';

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 170px;
  width: 80%;
  margin: auto;
  background-color: rgba($navy, 0.75);
  color: $almost-white;
  border-radius: 20px;
  border: 1px solid $navy;
  padding: 0.5em;
}

@media screen and (min-width: 700px) {
  .card-wrapper {
    width: 70%;
    min-height: 280px;

    .weather-icon {
      width: 100px;
      height: 100px;
    }
  }
}
