@import '../style/variables.scss';

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  .contact-info {
    margin: 1em;
  }

  form {
    background-color: rgba($almost-white, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    width: 90%;
    border-radius: 5px;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 0.3em 0;
      width: 100%;

      input,
      textarea {
        border: none;
        border-radius: 5px;
        background-color: $almost-white;
        padding: 0.3em;
        width: 100%;
      }

      input.input-error,
      textarea.input-error {
        border: 1px solid $error;
      }
    }

    button {
      margin: 0.6em;
      padding: 0.5em 1.8em;
    }
  }
  .contact-img-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .contact-img {
      margin-right: 20px;
      margin-top: -20px;
    }
  }
}

.confirmation-modal {
  position: absolute;
  top: 25%;
  background-color: $navy;
  color: $almost-white;
  width: 250px;
  height: 200px;
  border-radius: 5px;

  button {
    background-color: $navy;
    color: $mustard;
    font-size: 1.5rem;
    margin-right: -200px;
  }

  h2 {
    font-size: 1rem;
    padding: 1em;
  }
}
