.goodjob-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2em;

  .star-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4em 0;
  }

  img {
    animation: starAnimation 1s ease-in-out forwards;
  }

  .star-one {
    animation-delay: 0s;
  }

  .star-two {
    animation-delay: 1s;
  }

  .star-three {
    animation-delay: 2s;
  }

  .star-four {
    animation-delay: 3s;
  }
}

@keyframes starAnimation {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
