@import '../style/variables.scss';

nav {
  width: 100%;
  background-color: $navy;
  position: sticky;
  bottom: 0;
  right: 0;
  margin-top: 2em;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    .nav-icon {
      height: 30px;
      padding: 0.3em;
    }
  }
}

@media screen and (min-width: 768px) {
  nav {
    position: absolute;
    top: 0;
    bottom: auto;
    margin-top: 0;
  }
}
