@import '../style/variables.scss';

.wrapper {
  h1 {
    margin: 40px 0 20px;
  }

  h3 {
    margin: 20px;
  }

  .clothing-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
