@import '../style/variables.scss';

.wrapper {
  h1 {
    margin: 40px 0 20px;
  }

  h3 {
    margin: 20px;
  }

  .clothing-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.error-message {
  background-color: rgba($almost-white, 0.35);
  margin: 40px 10px 0;
  padding: 2em;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin: auto;

    h1 {
      margin: 0 0 20px;
    }
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    .clothing-cards-wrapper {
      flex-wrap: nowrap;
    }
  }
}
