@import './style/vendor/reset';
@import './style/home.scss';
@import './style/weathercard.scss';
@import './style/clothingdisplay.scss';
@import './style/weather.scss';
@import './style/contact.scss';
@import './style/navigation.scss';
@import './style/goodjob.scss';
@import './style/error.scss';
@import './style/loadingspinner.scss';

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
