@import './style/vendor/reset';
@import './style/home.scss';
@import './style/weathercard.scss';
@import './style/clothingdisplay.scss';
@import './style/weather.scss';
@import './style/contact.scss';
@import './style/navigation.scss';
@import './style/goodjob.scss';
@import './style/error.scss';
@import './style/loadingspinner.scss';
@import './style/aboutpage.scss';

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
