@import './style/variables.scss';

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $navy;
  background-color: $light-blue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: $almost-white;
  text-decoration: inherit;
}
a:hover {
  color: $dusty-pink;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
  position: relative;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $mustard;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: $navy;
  color: $almost-white;
}
button:focus,
button:focus-visible {
  outline: 1px solid $navy;
}

button:disabled {
  background-color: lightgray;
}
